<h1> <%=@user.name%>'s VIDEOS </h1>

<ul>
  <%@videos.each do |video| %>
  <%=image_tag(video.thumbnail)%>
  <li><%=link_to(video.title, "/users/#{@user.id}/videos/#{video.id}") %></li>
  <% end %>
</ul>