@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}

.sevi{
  width: 50%;
  margin: auto;
  text-align: center;
}

.searchy{
  }

.searchyin{
  width: 100%;
  height: 30px;
  border: 3px solid black;
  border-radius: 3%;

}

.searchdiv {
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.searchsub{
margin: auto;
width: 8%;


}

.row {
  margin-left:0px;
  margin-right:0px;
}

.fa {
  line-height: 10em;
  font-size: 3em;
  padding-top:300px;
}

.emailfield {
  margin-left: 32px;
}

.namefield {
  margin-left: 29px;
}

.passfield{
  margin-left: 6px;
}

.create {
  margin-left: 14px;
}

.searchbutton{
  background:transparent;
  border: 2px solid white;
  color: white;
  
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;

}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}


/* Custom page CSS
-------------------------------------------------- */
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
#myCarousel  .item {
  height: 600px;
  background-color:#bbb;
}
#myCarousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}


#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer {
  background-color:#414141;
}

#footer a {
  color:#efefef;
}

header {
  background: #333;
  color:#555;
}

header .dropdown-menu {
  top:74px;
  background: #ffcc33;
  border-width:0;
}

.howdoesit {
  font-size:50px;
}

.logo {
  font-size:70px;
  position:absolute;
  z-index:1200;
  color:#333;
  top:70px;
  text-align:center;
  width:100%;
  font-family: 'Monoton', cursive;
}

#nav {
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

#footer > .container {
  
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}
  
.navbar-nav {
  margin: 1px 1px; 
}  
  
/* customize nav style */
.navbar-custom {
    background-color: #2e2e2e;
  font-weight:700;
    text-transform:uppercase;
    border-width:0;
}
.navbar-custom  .navbar-nav>li>a {
  color: #ddd;
}
.navbar-custom  .dropdown-menu li>a:hover {
  color: #eee;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
  background-color: #000;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
  border-top-color: #999;
  border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
  outline:0;
}

.divider {
  height:50px;
}

.panel {
  border-width:0;
}

@media (max-width: 768px) {
  header {
  
  }
}

#map-canvas {
    width: 100%; 
    height: 300px;
  margin: 0;
  padding: 15px;
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #f2f3f2;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
} 

.createa {
  width: 50%;
  margin: auto;
  text-align: center;
}
 

section {
  color: #ffffff;
  min-height: 400px;
  height: auto !important;
  height: 100%;
  padding-top:100px;
}

.bg-1 {
  background: url('/assets/inception.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-2 {
  background: url('http://www.bootply.com/assets/example/bg_suburb.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-3 {
  background: url('http://www.designbolts.com/wp-content/uploads/2013/06/Superman-arrested-movie-scene-wallpaper1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-4 {
  padding-top:30px;
    background-color:#e6e6e6;
}

.panel .img-responsive {
  min-height:270px;
    max-height:270px;
}

/*Sign up form*/

    #signup {
      width: 550px;
      height: 330px;
      margin: 100px auto 50px auto;
      padding: 20px;
      position: relative;
      background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAMAAAB883U1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF7+/v7u7u////REBVnAAAAAN0Uk5T//8A18oNQQAAABZJREFUeNpiYGJiYmBiYgRiBhAGCDAAALsAFJhiJ+UAAAAASUVORK5CYII=);
      border: 1px solid #ccc;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; 
      border-radius: 3px;  
    }

    #signup::before, 
    #signup::after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 2px;
      right: 2px;
      top: 0;
      z-index: -1;
      background: #fff;
      border: 1px solid #ccc;     
    }

    #signup::after {
      left: 4px;
      right: 4px;
      bottom: -5px;
      z-index: -2;
      -moz-box-shadow: 0 8px 8px -5px rgba(0,0,0,.3);
      -webkit-box-shadow: 0 8px 8px -5px rgba(0,0,0,.3);
      box-shadow: 0 8px 8px -5px rgba(0,0,0,.3);
    }

    /*------------------------------*/

    #signup h1 {
      position: relative;
      font: italic 1em/3.5em 'trebuchet MS',Arial, Helvetica;
      color: #999;
      text-align: center;
      margin: 0 0 20px;
    }

    #signup h1::before,
    #signup h1::after{
      content:'';
      position: absolute;
      border: 1px solid rgba(0,0,0,.15);
      top: 10px;
      bottom: 10px;
      left: 0;
      right: 0;
    }

    #signup h1::after{
      top: 0;
      bottom: 0;
      left: 10px;
      right: 10px;
    }

    /*------------------------------*/

        ::-webkit-input-placeholder {
           color: #bbb;
        }
        
        :-moz-placeholder {
           color: #bbb;
        }               

    .placeholder{
      color: #bbb; /* polyfill */
    }   

    #signup input{
      margin: 5px 0;
      padding: 15px;
      width: 100%;
      *width: 518px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #ccc;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px; 
    }

    #signup input:focus{
      outline: 0;
      border-color: #aaa;
      -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, .3) inset;
      -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .3) inset;
      box-shadow: 0 2px 1px rgba(0, 0, 0, .3) inset;
    }   

    #signup button{
      margin: 20px 0 0 0;
      padding: 15px 8px;      
      width: 100%;
      cursor: pointer;
      border: 1px solid #2493FF;
      overflow: visible;
      display: inline-block;
      color: #fff;
      font: bold 1.4em arial, helvetica;
      text-shadow: 0 -1px 0 rgba(0,0,0,.4);     
      background-color: #2493ff;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.5)), to(rgba(255,255,255,0)));
      background-image: -webkit-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
      background-image: -moz-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
      background-image: -ms-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
      background-image: -o-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
      background-image: linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
      -webkit-transition: background-color .2s ease-out;
      -moz-transition: background-color .2s ease-out;
      -ms-transition: background-color .2s ease-out; 
      -o-transition: background-color .2s ease-out;  
      transition: background-color .2s ease-out;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -moz-box-shadow:  0 2px 1px rgba(0, 0, 0, .3),
                0 1px 0 rgba(255, 255, 255, .5) inset;
      -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .3),
                0 1px 0 rgba(255, 255, 255, .5) inset;
      box-shadow: 0 2px 1px rgba(0, 0, 0, .3),
            0 1px 0 rgba(255, 255, 255, .5) inset;                      
    }

    #signup button:hover{
        background-color: #7cbfff;
            border-color: #7cbfff;
    }

    #signup button:active{
      position: relative;
      top: 3px;
      text-shadow: none;
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset;
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset;
      box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset;
    }
